nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7.5rem;
}

.hamburger {
  display: block;
  cursor: pointer;
  margin: 2.5rem 8% 0 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #1a1a1a;
}

.nav-menu {
  position: fixed;
  left: -100%;
  margin: 7.5rem 0;
  padding: 2.5rem 0;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  background-color: #f5efe0;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
  left: 0;
}

.nav-li {
  margin-bottom: 1.25rem;
}

.nav-a {
  text-decoration: none;
  font-weight: bold;
  color: #1a1a1a;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
